body {
    margin-top: 225px;
    background: url("music_notes.png") 50% 0 no-repeat;
    text-align: center;
    font-family: "Lucida Calligraphy", cursive;
}

#music-info {
    font-family: "Tahoma", sans-serif;
}